@model MovieCrud.View_Models.MovieFormViewModel

@{
    ViewData["Title"] = "Movie Form";
}



<h4 class="text-info"> Create Movie</h4>
<hr />
<div class="row justify-content-between">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@(Model.Year>0 ?Model.Year :string.Empty)" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" value="@(Model.Rate>0 ? Model.Rate :string.Empty)" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreLine" class="control-label"></label>
                <textarea asp-for="StoreLine" class="form-control" rows="5"></textarea>
                <span asp-validation-for="StoreLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input type="file" asp-for="Poster" class="form-control" accept="image/* />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
                    <option value="">Select Genre .......</option>
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" > <i class="bi bi-check"></i> Save</button>
                <a asp-action="Index" class="btn btn-outline-dark"><i class="bi bi-x"></i> Back to List</a>

            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div id="poster-container" class="d-none">
            <img src="" alt="Poster" class="img-thumbnail" />
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('#Poster').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                $(this).siblings('label').text(selectedFile);
                var posterContainer = $('#poster-container');
                var image = window.URL.createObjectURL(this.files[0]);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
            $('#Year').datepicker({
                format: 'yyyy',
                viewMode: 'years',
                minViewMode: 'years',
                autoclose: true,
                startDate: new Date('1950-01-01'),
                endDate: new Date()
            });
        });
    </script>

    }