@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
}

<h2 class="text-info"> <i class="bi bi-film"></i> Movies List</h2>
<a class="btn btn-primary" asp-action="Create">Add movie</a>

<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-info">
            No Movies Added !
        </div>
    }
    else
    {
        
    }
</div>

